{% extends "base.html" %}
{% block content %}

    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <div>
                <h1 class="card-title text-primary">{{company.name}}</h1>
                <h4 class="card-title text-primary">Create by: {{ user.first_name }} {{user.last_name}}</h4>
            </div>
            <h3>Location: {{company.location}}</h3>
            <p class="card-text">Email:  {{company.email}}</p>
            <p class="card-text">Made On:  {{company.create_at.strftime('%Y-%m-%d')}}</p>
        </div>
    </div>

    <a href="/new/position" class="align-items-right btn btn-info"><strong>Upload a position</strong></a>


{% endblock %}